*{
    margin: 0;
    padding: 0;
}
div{
    width: 350px;
    border: solid transparent;
    border-radius: 15px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.415);
    height: auto;
}
img{
    width: 300px;
    display: block;
    padding-left: 15px;
}
section{
    margin-top: 100px;
    justify-content: space-between;
    justify-content: space-around;
}
.section1{
    display: flex;
}
.section2{
    display: flex;
}
body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: xx-large;
}
input[type="radio"]{
    width: 30px;
    height: 30px;
  }