img{
    width: 200px;
    margin-left: 37%;
    background-color: rgba(0, 0, 0, 0.289);
    border-radius: 50%;
}
.div{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.522);
    width: 300px;
    height: 200px;
    margin-left: 35%;
    font-size: xx-large;
    border-radius: 30px;
}
.pass{
    margin-left: -70px;
    padding: 50px;
}
input{
    width: 200px;
    height: 25px;
    border-radius: 20px;
    font-size: larger;
}
button{
    width: 200px;
    height: 35px;
    border-radius: 20px;
    background-color: rgba(97, 96, 96, 0.327);
    font-size: 25px;
}
button:hover{
    font-size: large;
    background-color: rgba(34, 33, 33, 0.579);
}
body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}